<app-page-title></app-page-title>

<section>
  <p>
    Um dos grandes diferenciais para o seu crescimento profissional no CAASO são os grupos
    extracurriculares. Formados e gerenciados por alunos, e auxiliados por professores,
    esses grupos permitem um contato direto com a prática da engenharia nas áreas mais
    diversas, bem como um maior engajamento com a comunidade ou causas sociais.
  </p>
  <p>
    São muitas opções de acordo com o seu interesse, você pode construir um carro, robô ou
    avião para uma competição, fazer parte do grande movimento estudantil, trabalhar com a
    gestão de pessoas e recursos em diversos projetos ou até mesmo dar aulas para crianças
    da região. Várias dessas opções serão apresentadas em uma palestra na semana de
    recepção.
  </p>
  <p>
    Você vai ter oportunidades que oferecem aprendizados que agregam muito para sua
    formação. Além de conhecer tecnologias diferentes e colocar a mão na massa para
    conhecer o verdadeiro trabalho de um engenheiro, você também pode conhecer muitas
    pessoas novas e viver grandes experiências. Em todos os casos, o melhor conselho é:
  </p>
  <h6 class="text-center mt-1 mb-2">
    Aproveite ao máximo tudo o que a universidade tem para oferecer!
  </h6>
</section>

<section>
  <a id="extracurriculares-tecnicas"></a>
  <app-title [subtitle]="true">Extracurriculares Técnicas</app-title>
  <p>
    São grupos voltados para o conhecimento técnico na área da Engenharia, eles são uma
    forma muito boa de aplicar e estender o conhecimento recebido na graduação.
  </p>
</section>

<section>
  <a id="centro-academico"></a>
  <app-title [subtitle]="true"
    >Centro Acadêmico, Secretarias Acadêmicas, Coletivos e Grupos Religiosos</app-title
  >
  <p>
    Uma das formas de atividades extracurriculares bem importantes na USP São Carlos são
    os grupos representativos. Entre eles, tem o CAASO, que é o Centro Acadêmico da USP -
    São Carlos, e a SA-SEL, que é a Secretaria Acadêmica da Engenharia Elétrica, a qual
    representa os alunos da Elétrica. Também existem outros coletivos que representam os
    alunos de acordo com o tema de cada um.
  </p>
</section>

<section class="mb-3">
  <a id="iniciacao-cientifica"></a>
  <app-title [subtitle]="true">Iniciações Científicas</app-title>
  <p>
    Participar de uma iniciação científica pode ser um incrível oportunidade de
    aprendizado. Fale com professores que façam pesquisa em alguma área que te interesse
    para saber mais. As modalidades de iniciação científica oferecida pela EESC são:
  </p>

  <div>
    <details>
      <summary>Programa Institucional de Bolsas de Iniciação Científica (PIBIC)</summary>
      <p>
        O Programa Institucional de Bolsas de Iniciação Científica (PIBIC) é voltado para
        o desenvolvimento do pensamento científico dos estudantes de graduação do ensino
        superior.
      </p>
    </details>

    <details>
      <summary>
        Programa Institucional de Bolsas de Iniciação em Desenvolvimento Tecnológico e
        Inovação (PIBITI)
      </summary>
      <p>
        O Programa Institucional de Bolsas de Iniciação em Desenvolvimento Tecnológico e
        Inovação (PIBITI) visa estimular estudantes do ensino superior ao desenvolvimento
        e transferência de novas tecnologias e inovação.
      </p>
    </details>

    <details>
      <summary>Iniciação Científica sem remuneração</summary>
      <p>
        Caso o aluno se interesse por um projeto de pesquisa realizado por um docente e
        tenha tempo disponível para executá-lo, sem prejuízo para suas atividades
        escolares regulares, o orientador poderá propor à Comissão de Pesquisa um projeto
        de iniciação científica.
      </p>
    </details>
  </div>
</section>

<section>
  <a id="extracurriculares"></a>
  <app-title [subtitle]="true">Grupos Extracurriculares</app-title>
  <div class="table-responsive">
    <table class="table text-center table-bordered table-striped">
      <thead class="table-primary">
        <tr>
          <th scope="col">Grupo</th>
          <th scope="col">Categoria</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let group of extracurricularGroups">
          <td>
            <a [href]="group.url" target="_blank" rel="noopener noreferrer">{{
              group.name
            }}</a>
          </td>

          <td>
            {{ group.categories.join(', ') }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>
    OBS: Essa é apenas uma amostra de alguns dos grupos extracurriculares mais conhecidos,
    também existem outros!
  </p>
</section>

<section>
  <a id="creditos"></a>
  <app-title [subtitle]="true">Créditos AAC e AEx</app-title>
  <p>
    Você provavelmente já ouviu algum veterano comentando sobre
    <strong
      >Créditos <abbr title="Atividades Acadêmicas Complementares">AAC</abbr></strong
    >
    e <strong>Créditos <abbr title="Atividades Extensionistas">AEx</abbr></strong
    >, não é mesmo? E provavelmente você ficou bem perdido sobre o que são cada um destes
    e como você vai fazer pra consegui-los, né? Mas pode ficar tranquilo, seus problema
    acabaram, já que vamos explicar direitinho tudo isso!
  </p>

  <p>
    Antes de seguir para a explicação, vale a pena lembrar que os grupos
    extracurriculares, as iniciações científicas, as monitorias, e outras atividades serão
    seus grandes aliados para obter estes créditos! Cada tipo de crédito tem requisitos
    específicos a ser cumpridos, porém sempre é possível encontrar atividades que lucram
    ambos os créditos para o aluno, então, não dê bobeira!
  </p>

  <h4>Créditos AAC</h4>

  <p>
    Os Créditos AAC advém da realização de
    <strong> Atividades Acadêmicas Complementares</strong>. Tais atividades compreendem,
    por exemplo, ministrar monitoria, participar em empresas júniores, organizar
    competições esportivas, realizar iniciação científica, participar em semanas
    acadêmicas, participar na Comissão da Semana de Recepção dos Calouros, entre muitas
    outras atividades, como pode ser visto nos links abaixo. Observa-se que estas
    atividades complementam a sua graduação e estão relacionadas, de alguma forma, à área
    acadêmica, e, por isso, recebem a sigla AAC, sendo muito importantes para a sua
    formação profissional.
  </p>

  <p>
    Todos os alunos ingressantes da USP a partir de 2021, precisam obter créditos AAC para
    poderem se graduar e a quantidade exata de créditos necessária está presente na grade
    curricular de cada curso. As atividades que podem ser realizadas e a quantidade de
    créditos referentes a cada uma delas podem ser encontradas na
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://eesc.usp.br/comunicacao/wp-content/uploads/2020/09/AAC-apendice_Creditos-atividades-E.-Curriculares-Versao-1.3.pdf"
      >Referência para Registro</a
    >
    e na
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://eesc.usp.br/comunicacao-admin/wp-content/uploads/2021/07/Comparativo-tabela-atividades-AAC-aprovada-pela-CG-e-a-do-Jupiterweb_publicado.pdf"
      >Tabela Comparativa</a
    >.
  </p>

  <p>
    Caso você tenha realizado uma destas atividades, o procedimento para cadastro é muito
    simples, basta entrar no Júpiterweb e ir em:
    <strong>
      Requerimento → Atividades Acadêmicas Complementares - AAC → (Selecionar o Programa)
      → Incluir → (Preencher as Informações Necessárias) → Encaminhar para Análise </strong
    >. Porém, se ainda houver dúvida, há uma aba "Tutorial" que você pode acessar no
    Júpiterweb em:
    <strong>Requerimento → Atividades Acadêmicas Complementares - AAC → Tutorial</strong>.
  </p>

  <h4>Créditos AEx</h4>

  <p>
    Os Créditos AEx advém da realização de
    <strong>Atividades Extensionistas Curriculares</strong>. Tais atividades estão
    relacionadas com o processo de levar o conhecimento produzido na univerdade para a
    comunidade que vive ao redor dela, assim, podendo trazer beneficios para a sociedade
    por inúmeras formas. Tais atividades devem seguir alguns critérios específicos como:
    ser coordenada, acompanhada e avaliada por um docente coordenador; ser realizada por
    estudante(s); ser voltada a grupos sociais definidos, externos à universidade; ser
    avaliada para e com o grupo social; e, preferencialmente, ser gratuita.
  </p>

  <p>
    Em 2023, as avaliações do MEC passaram a considerar a extensão como parte obrigatória
    do currículo, sendo assim, a USP adotou medidas para viabilizar a curricularização da
    extensão para os cursos oferecidos pela mesma. No documento
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www2.ifsc.usp.br/portal-ifsc/wp-content/uploads/2024/03/Guia-curricularizacao-PRCEU-PRG.pdf"
      >"Regulamentação da Curricularização da Extensão na Universidade de São Paulo:
      conceituação, operacionalização e implementação"</a
    >, todos os aspectos relacionados a este processo estão bem descritos, incluindo
    formulários e fluxogramas para cadastro de novas atividades, um FAQ contendo as
    principais dúvidas que podem sugir com relação às atividades e créditos
    extensionistas, entre outros.
  </p>

  <p>
    Mas, para que você não tenha que ler todo o documento acima, vamos resumir os
    principais pontos. Para aqueles que ingressaram após 2023 concluirem o curso, será
    necessário que 10% da carga horária seja composta de atividades de extensão, no caso
    da Engenharia Elétrica, 400 horas. Os institutos são responsáveis por alocar estes
    créditos em disciplinas da graduação, de forma que os estudantes não precisem se
    envolver em novas atividades para finalizar o curso. Porém, ainda está ocorrendo uma
    adaptação a tais medidas, então pode ser necessário que você adquira estes créditos
    ingressando em algum grupo extracurricular ou buscando atividades pelo próprio sistema
    Júpiterweb no menu "Atividades Extensionistas Curriculares (AEx)".
  </p>
</section>
