<app-page-title></app-page-title>

<section align="justify">
  <app-title [subtitle]="true">Pré-Matrícula e Efetivação de Matrícula</app-title>
  <br />

  <p>
    <strong>ATENÇÃO: TENHA CUIDADO PARA NÃO PERDER SUA VAGA!!!</strong>
  </p>

  <p>
    Esse sentimento de ter passado no vestibular é muito bom, não é, bixão? Mas fique atento
    e não corra o risco de perder sua vaga! A etapa de Pré-Matrícula e a etapa de Efetivação de
    Matrícula são extremamente importantes para você garantir a sua vaga! Vamos explicar um
    pouquinho melhor cada uma delas:
  </p>
</section>

<br />

<section align="justify">
  <a id="pre-matricula"></a>
  <app-title [subtitle]="true"
    >Etapa de Pré-Matrícula Virtual
  </app-title>

  <p>
    Essa etapa ocorre logo após a divulgação dos resultados de uma lista de chamada ou de uma
    lista de espera. Nela, você irá iniciar o seu processo de matrícula na USP, preenchendo os
    formulários eletrônicos de matrícula e enviando a documentação exigida nas datas estabelecidas
    no calendário, em formato digital (PDF, JPG, PNG, GIF), conforme as instruções fornecidas
    durante tal processo de pré-matrícula. Verifique quais documentos serão necessários para o seu tipo
    de vaga consultando os detalhes no guia da jornada ou na resolução do vestibular correspondente.
    <strong>Todo o procedimento é realizado de forma virtual neste
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://uspdigital.usp.br/jupiterweb/graduacaoMatriculaIngressante"
        >site da USP</a
      ></strong>.
  </p>

  <p>
    Fique atento aos detalhes, principalmente em relação aos documentos e dados que você fornecer nesta etapa.
    Confira se os mesmos estão válidos, se a foto está adequada e se há documentos específicos que você precise
    enviar para ingressar no seu tipo de vaga (EP ou PPI); tudo isso pode te ajudar a evitar problemas futuros e
    garantir a segurança da sua vaga!
  </p>

  <p>
    Abaixo, você poderá encontrar as datas exatas de início e fim desta etapa para cada uma das
    listas de chamada de cada um dos vestibulares que permitem o ingresso na USP. <strong>Confira
    as datas do(s) vestibular(es) que você prestou aqui:
    <a href="/matricula#datas">FUVEST</a>, <a href="/matricula#datas-enem-usp">ENEM-USP</a>,
    <a href="/matricula#datas-provão-paulista">Provão Paulista</a></strong>.
  </p>
</section>

<br />

<section align="justify">
  <a id="confirmacao-matricula"></a>
  <app-title [subtitle]="true"
    >Etapa Virtual de Efetivação de Matrícula (1ª, 2ª e 3ª chamadas)
  </app-title>
  <p>
    Essa etapa ocorre após a divulgação de todas as listas de chamada e é
    <strong>obrigatória</strong>, ou seja, independentemente de qual vestibular
    você prestou, é necessário realizar a efetivação de matrícula para confirmar
    seu ingresso na USP. Tal etapa também é <strong>única</strong>, portanto, há
    somente um prazo unificado onde todos os alunos que realizaram a pré-matrícula
    devem proceder com a efetivação. Nela, você somente irá confirmar sua matrícula
    na USP, revisando os dados informados na etapa de Pré-Matrícula e atestando
    sua veracidade. <strong>Todo o procedimento é realizado de forma virtual neste
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://uspdigital.usp.br/jupiterweb/graduacaoMatriculaIngressanteConfirm"
        >site da USP</a
      ></strong>.
  </p>

  <p>
    A efetivação da matrícula para os candidados convocados em vagas
    <strong
      >AC (Ampla Concorrência), PPI (Pretos, Pardos e Indígenas) e EP (Escola
      Pública)</strong
    >
    ocorrerá nos dias 23, 24 e 25/02/2026 (segunda, terça e quarta-feira),
    <strong>das 08h00 do dia 23/02 até as 12h00 do dia 25/02/2026. </strong>
    <br />
    <br />
    <strong>ATENÇÃO: </strong> Todos os ingressantes na USP deverão efetivar sua matrícula
    (durante o período definido no calendário) pelo <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://uspdigital.usp.br/jupiterweb/graduacaoMatriculaIngressanteConfirm"
      >site da USP</a
    >, sob pena de perda da vaga.
  </p>
</section>

<section>
  <app-title [subtitle]="false">FUVEST</app-title>
  <br />

  <p>
    No
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.fuvest.br/wp-content/uploads/fuvest2026_guia-jornada.pdf"
      >guia de jornada</a
    >
    você encontrará informações detalhadas sobre o processo de matrícula. Destacamos
    abaixo algumas das mais importantes.
  </p>

  <a id="calendario"></a>
  <app-figure
    [image]="{
      src: '/assets/images/matricula/calendariofuvest.jpg',
      alt: 'Calendário FUVEST: Convocações, Matrícula e Lista de Espera',
    }"
  ></app-figure>
  <app-image-grid [gridItems]="fuvestCalendar"></app-image-grid>
</section>

<section>
  <a id="datas"></a>
  <app-title [subtitle]="true"
    >Listas de Chamadas: Datas e Período da Divulgação e Matrícula (Matrícula Virtual -
    Pré Matrícula)</app-title
  >
  <br />

  <h5>Primeira Chamada</h5>
  <ul>
    <li>23/01/2026 (sexta-feira) &mdash; Divulgação pela FUVEST</li>
    <li>
      27/01/2026 (terça-feira), das 08h00 até 30/01/2026 (sexta-feira), às 12h00 &mdash;
      Matrícula Virtual: Pré-Matrícula
    </li>
  </ul>

  <h5>Segunda Chamada</h5>
  <ul>
    <li>03/02/2026 (terça-feira) &mdash; Divulgação pela FUVEST</li>
    <li>
      04/02/2026 (quarta-feira), das 08h00 até 06/02/2026 (sexta-feira), às 12h00 &mdash;
      Matrícula Virtual: Pré-Matrícula
    </li>
  </ul>

  <h5>Terceira Chamada</h5>
  <ul>
    <li>10/02/2026 (terça-feira) &mdash; Divulgação pela FUVEST</li>
    <li>
      11/02/2026 (quarta-feira), das 08h00 até 13/02/2026 (sexta-feira), às 12h00 &mdash;
      Matrícula Virtual: Pré-Matrícula
    </li>
  </ul>

  <p>
    <strong>Observação:</strong> Horário de atendimento da Central Unificada de Matrículas
    da USP (página 16): das 08h00 às 18h00, de segunda a sexta-feira.
  </p>
</section>

<section>
  <app-title [subtitle]="false">ENEM-USP</app-title>
  <br />

  <p>
    Na
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.fuvest.br/wp-content/uploads/enem2026-resolucao.pdf"
      >resolução do processo seletivo</a
    >
    você encontrará informações detalhadas sobre o processo de matrícula. Destacamos
    abaixo algumas das mais importantes.
  </p>

  <a id="calendario-enem-usp"></a>
  <app-figure
    [image]="{
      src: '/assets/images/matricula/calendarioenemusp.jpg',
      alt: 'Calendario Enem-USP: Convoações, Matrícula e Lista de Espera',
    }"
    [fullWidth]="true"
  ></app-figure>
</section>

<section>
  <a id="datas-enem-usp"></a>
  <app-title [subtitle]="true"
    >Listas de Chamadas: Datas e Período da Divulgação e Matrícula (Matrícula Virtual -
    Pré Matrícula)</app-title
  >
  <br />

  <h5>Primeira Chamada</h5>
  <ul>
    <li>23/01/2026 (sexta-feira) &mdash; Divulgação pela FUVEST</li>
    <li>
      27/01/2026 (terça-feira), das 08h00 até 30/01/2026 (sexta-feira), às 12h00 &mdash;
      Matrícula Virtual: Pré-Matrícula
    </li>
  </ul>

  <h5>Segunda Chamada</h5>
  <ul>
    <li>03/02/2026 (terça-feira) &mdash; Divulgação pela FUVEST</li>
    <li>
      04/02/2026 (quarta-feira), das 08h00 até 06/02/2026 (sexta-feira), às 12h00 &mdash;
      Matrícula Virtual: Pré-Matrícula
    </li>
  </ul>

  <h5>Terceira Chamada</h5>
  <ul>
    <li>10/02/2026 (terça-feira) &mdash; Divulgação pela FUVEST</li>
    <li>
      11/02/2026 (quarta-feira), das 08h00 até 13/02/2026 (sexta-feira), às 12h00 &mdash;
      Matrícula Virtual: Pré-Matrícula
    </li>
  </ul>
</section>

<section>
  <app-title [subtitle]="false">Provão Paulista</app-title>
  <br />

  <p>
    Na
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://stcdndev.blob.core.windows.net/lib/SEED2405/USP%20-%20Resolu%C3%A7%C3%A3o%20CoG%20N%C2%BA%208741,%20de%2017%20de%20dezembro%20de%202024.pdf"
      >resolução de participação</a
    >
    , juntamente dos outros documentos presentes no
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://provaopaulistaseriado.vunesp.com.br/"
      >site do Provão Paulista</a
    >
    você encontrará informações detalhadas sobre as matrículas. Destacamos abaixo algumas
    das mais importantes.
  </p>

  <a id="calendario-provão-paulista"></a>
  <app-figure
    [image]="{
      src: '/assets/images/matricula/calendarioprovao.jpg',
      alt: 'Calendario Provão Paulista: Convoações, Matrícula e Lista de Espera',
    }"
    [small]="false"
  ></app-figure>
</section>

<section>
  <a id="datas-provão-paulista"></a>
  <app-title [subtitle]="true"
    >Listas de Chamadas: Datas e Período da Divulgação e Matrícula</app-title
  >
  <br />

  <h5>Primeira Chamada</h5>
  <ul>
    <li>20/01/2025 (segunda-feira) &mdash; Divulgação pela VUNESP</li>
    <li>
      22/01/2025 (quarta-feira), das 08h00 até 23/01/2025 (quinta-feira), às 12h00 &mdash;
      Matrícula Virtual: Pré-Matrícula
    </li>
  </ul>

  <h5>Segunda Chamada</h5>
  <ul>
    <li>27/01/2025 (segunda-feira) &mdash; Divulgação pela VUNESP</li>
    <li>
      29/01/2025 (quarta-feira), das 08h00 até 30/01/2025 (quinta-feira), às 12h00 &mdash;
      Matrícula Virtual: Pré-Matrícula
    </li>
  </ul>

  <h5>Terceira Chamada</h5>
  <ul>
    <li>03/02/2025 (segunda-feira) &mdash; Divulgação pela VUNESP</li>
    <li>
      05/02/2025 (quarta-feira), das 08h00 até 06/02/2025 (quinta-feira), às 12h00 &mdash;
      Matrícula Virtual: Pré-Matrícula
    </li>
  </ul>
</section>

<section>
  <a id="confirmacao-matricula-provao-paulista"></a>
  <app-title [subtitle]="true"
    >Etapa Virtual de Efetivação da Matrícula (1ª, 2ª e 3ª chamadas)
  </app-title>
  <p>
    A efetivação da matrícula para os candidados convocados ocorrerá nos dias 24, 25 e
    26/02/2025 (segunda, terça e quarta-feira),
    <strong>das 08h00 do dia 24/02 até as 12h00 do dia 26/02/2025. </strong>
    <br />
    <br />
    <strong>ATENÇÃO: </strong> Todos os ingressantes na USP deverão efetivar sua matrícula
    (durante o período definido no calendário) no link encaminhado no e-mail cadastrado no
    momento da inscrição, sob pena de perda da vaga. Tabém é importante se atentar ao
    período de Pré-Matrícula, ato no qual, o candidato aprovado deverá preencher os
    formulários eletrônicos de matrícula e enviar a documentação exigida, nas datas
    estabelecidas no calendário, em formato digital (PDF, JPG, PNG, GIF), conforme as
    instruções fornecidas durante tal processo de matrícula.
  </p>
</section>
