@use '/src/colors' as colors;

.social-network-icon a,
.social-network-icon a:link,
.social-network-icon a:visited {
  color: inherit !important;
}

.social-network-icon button:active {
  color: colors.$secondary !important;
}
